certifi==2019.11.28
chardet==3.0.4
datarobot==2.19.0
distlib==0.2.7.post2+datarobot
idna==2.9
numpy==1.18.1
pandas==1.0.1
pip==10.0.2rc5+datarobot
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
quantum-env==2.4.0
quantum-native-python3==3.7.6.post2+dr
requests==2.23.0
requests-toolbelt==0.9.1
setuptools==41.2.0
six==1.14.0
trafaret==1.2.0.post1+dr
urllib3==1.25.8
